<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/Template.xhtml"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <center>
            <b><p style="font-size:45px; color: blue">Erro 404</p></b>
            <h1>A Página requisitada não foi encontrada ou você não tem permissão para visualizar</h1>
            <img src="404.png" alt="404error" width="300" height="300"/> 

        </center>
    </ui:define>
</ui:composition>
