<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/Template.xhtml"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <center>
            <h1>Seja bem-vindo ao Simulado ENADE, #{loginController.usuarioLogin.tipoUsuarioidTipoUsuario.nomeTipoUsuario} #{loginController.usuarioLogin.nome}</h1>
            <p:graphicImage name="imagens/logo.png" width="30%"/>
        </center>
    </ui:define>
</ui:composition>
