<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./WEB-INF/Template.xhtml"
                    xmlns:p="http://primefaces.org/ui"
                    xmlns:h="http://xmlns.jcp.org/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core">
        <ui:define name="content">
            <div style="margin: 0 auto; max-width: 930px">
                <br />
                <c:if test='#{realizarProvaController.prova == null}'>
                    <h1 style="text-align: center">Nenhuma nova prova marcada ainda!</h1>
                </c:if>
                <c:if test='#{realizarProvaController.prova != null}'>
                    <h1>Prova de ${realizarProvaController.prova.dataFormatada}. Valor 10 pontos.</h1>
                    <p:outputLabel value="Confira todas as respostas antes de enviar, e clique no botão 'Enviar prova'" />
                    <h:form>
                        <c:forEach items="${realizarProvaController.prova.questaoList}" var="questao" varStatus="loop">
                            <h:panelGrid>
                                <h3 style="margin-bottom: 0"> ${loop.index + 1}) #{questao.descricaoQuestao}</h3>

                                <c:if test='#{questao.tipoQuestaoidTipoQuestao.nomeTipoQuestao eq "Discursiva"}'>
                                    <p:inputTextarea rows="5" cols="100" value="#{questao.resposta}" />
                                </c:if>

                                <c:if test='#{questao.tipoQuestaoidTipoQuestao.nomeTipoQuestao eq "Múltipla escolha"}'>
                                    <p:selectOneRadio layout="grid" columns="1" value="#{questao.resposta}">
                                        <f:selectItem itemLabel="a)#{questao.alternativaA}" itemValue="A" />
                                        <f:selectItem itemLabel="b)#{questao.alternativaB}" itemValue="B" />
                                        <f:selectItem itemLabel="c)#{questao.alternativaC}" itemValue="C" />
                                        <f:selectItem itemLabel="d)#{questao.alternativaD}" itemValue="D" />
                                        <f:selectItem itemLabel="e)#{questao.alternativaE}" itemValue="E" />
                                    </p:selectOneRadio>
                                </c:if>
                            </h:panelGrid>
                        </c:forEach>

                        <br />
                        <p:commandButton value="Enviar prova" style="float: right" onclick="PF('finalizar').show();" /> 
                        <br />
                        <br />
                    </h:form>
                </c:if>
            </div>

            <p:dialog header="Atenção" widgetVar="finalizar" modal="true"> 
                <h:form>
                    <p>Finalizar Prova?</p>
                    <p:commandButton value="Confirmar" action="#{realizarProvaController.finalizarProva()}" style="float: right" /> 
                </h:form>
            </p:dialog>
        </ui:define>
    </ui:composition>
</html>