<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./WEB-INF/Template.xhtml"
                    xmlns:p="http://primefaces.org/ui"
                    xmlns:h="http://xmlns.jcp.org/jsf/html">
        <ui:define name="content">
            <div style="margin: 0 auto; max-width: 930px">
                <br />
                <c:if test='#{resultadoController.resultados.size() eq 0}'>
                    <h1 style="text-align: center">Nenhuma prova encontrada</h1>
                </c:if>
                <c:if test='#{resultadoController.resultados.size() > 0}'>
                    <h1 style="text-align: center">Resultados das suas provas feitas:</h1>
                    <c:forEach items="${resultadoController.resultados}" var="resultado" varStatus="loop">
                        <h3>
                            Prova do dia ${resultado.provaidProva.dataFormatada}
                            <c:if test='#{loop.index eq 0}'>
                                (Última prova respondida)
                            </c:if>
                        </h3>
                        <li>Nota: #{resultado.valorObtido}</li>
                        <br />
                    </c:forEach>
                </c:if>
            </div>
        </ui:define>
    </ui:composition>
</html>