<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <header>
        <div style="display: flex; justify-content: space-between">
            <h1>Simulado ENADE</h1>
        </div>
        <h:form style="display: flex; justify-content: space-between">  
            <p:menubar>
                <p:menuitem value="Início" icon="ui-icon-home" url="index.xhtml" />
                <p:submenu label="Gerenciar" icon="ui-icon-gear" rendered="#{loginController.isProfessor()}">
                    <p:menuitem value="Tipos de Usuários" icon="ui-icon-person" url="tipoUsuario.xhtml"/>
                    <p:menuitem value="Usuários" icon="ui-icon-person" url="usuarios.xhtml"/>
                    <p:menuitem value="Tipos de Questões" icon="ui-icon-bookmark" url="tipoQuestao.xhtml"/>
                    <p:menuitem value="Questões" icon="ui-icon-folder-open" url="questoes.xhtml"/>
                    <p:menuitem value="Prova" icon="ui-icon-document" url="prova.xhtml"/>
                </p:submenu>
                <p:menuitem value="Gráficos" icon="ui-icon-image" url="graficos.xhtml" rendered="#{loginController.isProfessor()}" />
                <p:menuitem value="Realizar prova" icon="ui-icon-document" url="realizarProva.xhtml" rendered="#{!loginController.isProfessor()}"/>
                <p:menuitem value="Resultado provas" icon="ui-icon-clipboard" url="resultados.xhtml" rendered="#{!loginController.isProfessor()}"/>
            </p:menubar>
            <p:commandButton value="Sair" action="#{loginController.logout()}"/>
        </h:form>
    </header>
</ui:composition>
